body {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color:  #FFFFFF;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo-swag:hover{
    fill: blue;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 20px 0;
    padding-left: 47px;
    padding-right: 106px;
}

.header__logo {
    display: flex;
}

.header__logo-text:hover {
color: #F26522;
}
.header__icon:hover {
fill: blue;
}

.header__contacts {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
}

.header__icon:hover svg {
    fill:blue;
}

.header__icon {
    margin-right: 5px;
    width: 53px;
    height: 47px;
}

.logo-icon:hover path{
    fill: aquamarine;
}

.header__logo-text {
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}   

.header__logo-subtext {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    
}

.header__mail:hover {
    color:  #F26522;
}
.header__phone:hover {
    color:  #F26522;
}

.section__figure {

    height: 33.33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
} 

.section-img {
    width: 100%;
}

.section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    left: 0;
    margin: 0 61px 78px 0;
    bottom: 0;
}


.images-bg {
    position: relative;
    overflow: hidden;
}

.section__active-strip {
    position: absolute;
    overflow: hidden;
    background-color: #F26522;
    bottom: 0;
    left: 0;
    padding: 10px;  
    width: 100%;
    height: 55px;
    transform: translateY(100%);
    opacity: 0;
}   

.section__title {
    margin-top: 20px;
}

.section__content:hover .section__active-strip {
    transform: translateY(0);
    transition: 1s;
    bottom: 0;
    opacity: 1; 
}
.section__content:hover .section__title-color {
    color:  #F26522;
}


.btn {
    position: relative;
    top: -50%;
    left: 60%;
    font-size: 14px;
    line-height: 14px;
}

.btn-link::after {
    content: "\2227";
    display: inline-block;
    position: relative;
    right: -15px;
    color: white;
    top: -1px;
    transform: rotate(90deg);
}


.section__active-text {
    font-size: 10px;
    line-height: 10px;
}

.section__active-subtitle {
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
}


.footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 15px;
}